---
import { twMerge } from "tailwind-merge";
import { pop, extractFromClassList } from "@/utils/utils";
import IfOutlook from "./IfOutlook.astro";
import IfNotOutlook from "./IfNotOutlook.astro";

// Much of the outlook stuff was taken from https://buttons.cm/

interface Props {
  class?: string;
  href?: string;
}

const { class: className = "", href = "#" } = Astro.props;
const classList = className.split(" ").map((c) => c.trim());

const width = extractFromClassList(classList, "width");
const margin = extractFromClassList(classList, "margin");
const bgImageClass = extractFromClassList(classList, "bg-url");
const bgImageUrl = bgImageClass.replace(/^bg-\[url\(['"](.*)['"]\)\]/, "$1");
const bgColor = extractFromClassList(classList, "bg-color", "#ffffff");
const borderColor = extractFromClassList(classList, "border-color", "#ffffff");
const padding = extractFromClassList(classList, "padding");
const paddingYValue = ...;
const height = extractFromClassList(classList, "height", `${16 + paddingYValue * 2}px`);

const vRoundRectAttrs: Record<string, string> = {};

// fill
if (bgImageUrl.length > 0) {
  vRoundRectAttrs.fill = "t";
} else if (bgColor.length > 0) {
  vRoundRectAttrs.fillcolor = bgColor;
}

// stroke color
if (borderColor.length > 0) {
  vRoundRectAttrs.strokecolor = borderColor;
}

// arcsize (border-radius)
const borderRadius = extractFromClassList(classList, "border-radius");
if (borderRadius.length > 0) {
  vRoundRectAttrs.arcsize = arcSize;
}

// rest
const rest = classList.join(" ");
---

<table class={twMerge(width, margin)}>
  <tbody>
    <tr>
      <td>
        <table class={twMerge(width)}>
          <tbody>
            <tr>
              <td>
                {/* Outlook */}
                <IfOutlook>
                  <v:roundrect
                    xmlns:v="urn:schemas-microsoft-com:vml"
                    xmlns:w="urn:schemas-microsoft-com:office:word"
                    href={href}
                    style="height:40px;v-text-anchor:middle;width:200px;"
                    arcsize="10%"
                    {...vRoundRectAttrs}
                  >
                    {bgImageUrl.length > 0 && <v:fill type="tile" src={bgImageUrl} color={bgColor} />}
                    <w:anchorlock></w:anchorlock>
                    <center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;">
                      <slot />
                    </center>
                  </v:roundrect>
                </IfOutlook>

                {/* Not Outlook */}
                <IfNotOutlook>
                  <a href={href} class={twMerge("inline-block", rest, width)}>
                    <slot />
                  </a>
                </IfNotOutlook>

                {/* For reference */}
                <div>
                  <v:roundrect
                    xmlns:v="urn:schemas-microsoft-com:vml"
                    xmlns:w="urn:schemas-microsoft-com:office:word"
                    href="http://"
                    style="height:40px;v-text-anchor:middle;width:200px;"
                    arcsize="250%"
                    strokecolor="#1e3650"
                    fillcolor="#556270"
                  >
                    <w:anchorlock></w:anchorlock>
                    <center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;"
                      >Show me the button!</center
                    >
                  </v:roundrect>

                  <a
                    href="http://"
                    style="background-color:#556270;border:1px solid #1e3650;border-radius:100px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;mso-hide:all;"
                    >Show me the button!</a
                  >
                </div>

                <div>
                  <v:roundrect
                    xmlns:v="urn:schemas-microsoft-com:vml"
                    xmlns:w="urn:schemas-microsoft-com:office:word"
                    href="http://"
                    style="height:40px;v-text-anchor:middle;width:200px;"
                    arcsize="250%"
                    strokecolor="#1e3650"
                    fill="t"
                  >
                    <v:fill type="tile" src="https://i.imgur.com/0xPEf.gif" color="#556270"></v:fill>
                    <w:anchorlock></w:anchorlock>
                    <center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;"
                      >Show me the button!</center
                    >
                  </v:roundrect>

                  <a
                    href="http://"
                    style="background-color:#556270;background-image:url(https://i.imgur.com/0xPEf.gif);border:1px solid #1e3650;border-radius:100px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;mso-hide:all;"
                    >Show me the button!</a
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
