---
import type { ComponentProps } from "@/utils/types";
import rawStylesCSS from "../assets/__styles-dist.css?raw";
import Div from "@/components/Div.astro";
import IfOutlook from "@/components/IfOutlook.astro";

interface Props extends ComponentProps {
  subject: string;
  previewText: string;
}

const { subject, lang = "en", previewText } = Astro.props;

const htmlAtts = {
  "xmlns:o": "urn:schemas-microsoft-com:office:office",
  "xmlns:v": "urn:schemas-microsoft-com:vml",
};
---

<!doctype html>
<html lang={lang} {...htmlAtts}>
  <head>
    <meta charset="utf-8" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {/* From https://maizzle.com */}
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no" />
    <meta name="color-scheme" content="light dark" />
    <meta name="supported-color-schemes" content="light dark" />
    <!--[if mso]>
    <noscript>
      <xml>
        <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
    </noscript>
    <style>
      td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
    </style>
    <![endif]-->
    <title>{subject}</title>

    <!-- tailwind classes -->
    <style is:inline set:html={rawStylesCSS}></style>
  </head>
  <body>
    <div style="display: none; max-height: 0px; overflow: hidden;">{previewText}&zwj;</div>

    <div style="display: none; max-height: 0px; overflow: hidden;">
      &#847; &zwnj; &nbsp; &#8199; &shy; &#847; &zwnj; &nbsp; &#8199; &shy; &#847; &zwnj; &nbsp; &#8199; &shy; &#847;
      &zwnj; &nbsp; &#8199; &shy; &#847; &zwnj; &nbsp; &#8199; &shy; &#847; &zwnj; &nbsp; &#8199; &shy; &#847; &zwnj;
      &nbsp; &#8199; &shy; &#847; &zwnj; &nbsp; &#8199; &shy;
    </div>

    <div role="article" aria-roledescription="email" aria-label={subject} lang={lang}>
      <Div id="_root" class="w-[700px] max-w-full">
        <slot />
      </Div>
    </div>
  </body>
</html>
